/* Colors */

@body-color-bg: #F0F0F0;
@body-margin: 4px;

@app-title-color-bg: black;
@app-title-color-fg: white;

@page-title-color: #D24939;
@page-nav-color-bg: #D9D8D6;
@page-nav-color-hover: darken(@page-nav-color-bg, 10%);
@page-nav-color-fg: #333;

@panel-border-color: #BBBBBB;
@panel-border-radius: 4px;
@panel-color: white;

.action {
	cursor: pointer;
}

.noaction {
	cursor: auto;
}

.info {
	color: gray;
	font-style: italic;
	font-size: 75%;
}

.action-hidden {
	display: none;
}

.error {
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	color: white;
	font-size: 80%;
	background-color: red;
}

.invalid {
	background-color: #FFAAAA;
	background-image: url('../images/error.png');
	background-repeat: no-repeat;
	background-position: right;
}

.button-link {
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	background-color: lightgrey;
	border: solid 1px grey;
	color: blue;
}

body {
	font-family: sans-serif;
	background-color: @body-color-bg;
	margin: 0px;
}

// layout_basic
section.app-title {
	background-color: @app-title-color-bg;
	color: @app-title-color-fg;
	padding: @body-margin @body-margin * 2 @body-margin @body-margin *2;
	span.app-title {
		font-size: 200%;
		font-weight: bold;
		font-family: serif;
	}
	div.app-meta {
		display: inline;
		float: right;
		position: relative;
		top: 10px;
		right: 15px;
		.nav-item {
			margin-right: 10px;
		}
		a {
			.nav-item;
			text-decoration: none;
			color: @app-title-color-fg;
			&.app-settings {
				background-image: url('../images/cog.png');
				background-repeat: no-repeat;
				background-position: left center;
				padding-left: 20px;
			}
		}
		.language {
			.nav-item;
			&.selected {
				font-weight: bold;
				color: gray;
			}
			&.unselected {
				.action;
			}
		}
	}
}

// layout_std
article.std-page {
	> nav {
		background-color: @page-nav-color-bg;
		.menu {
			text-decoration: none;
			color: @page-nav-color-fg;
			font-size: 75%;
			padding: 3px 15px 1px 5px;
		}
		a {
			.menu;
			&:hover {
				background-color: @page-nav-color-hover;
			}
		}
		span {
			.menu;
			font-weight: bold;
		}
	}
	> h1 {
		padding-left: @body-margin;
		color: @page-title-color;
	}
	> div.std-content {
		margin-left: @body-margin;
		margin-right: @body-margin;
	}
}

// panel

.panel-title {
	color: @page-title-color;
	margin: @panel-border-radius;
	font-size: 100%;
}

.trailing-line {
	background-image: url('../images/header_bg.png');
	background-repeat: repeat-x;
	background-position: 0px center;
}

.trailing-line-fg {
	display: inline;
	color: @page-title-color;
	background-color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

section.panel {
	border: solid 1px @panel-border-color;
	border-radius: @panel-border-radius;
	margin-bottom: @body-margin;
	background-color: @panel-color;
	> h1 {
		.panel-title;
	}
	> div {
		padding: @panel-border-radius * 2;
	}
}

// Form
section.form {
	> header {
		margin-top: @body-margin * 3;
		margin-bottom: @body-margin;
		.trailing-line;
		> h1 {
			font-size: 90%;
			margin: 0px;
			.trailing-line-fg;
		}
	}
	form {
		table {
			border-collapse: collapse;
			tfoot td {
				text-align: right;
			}
		}
	}
}

a.form-command {
	font-size: 80%;
	text-decoration: underline;
	color: blue;
	&.form-command-disabled {
		color: lightgrey;
		text-decoration: none;
	}
}

tfoot td.form-commands {
	text-align: right;
}

// Dialog
.ui-dialog {
	font-size: 100%;
	.ui-dialog-titlebar {
		border: none;
		.ui-dialog-title {
			margin: 0px;
		}
	}
}

.error-dialog .ui-dialog-titlebar {
	background-color: transparent;
	background-image: url('../../static/styles/images/ui-bg_diagonals-thick_18_b81900_40x40.png');
}