@import "general";

table.tablesorter {
	th.header {
		.action;
		background-image: url('../images/sort.png');
		background-repeat: no-repeat;
		padding-left: 16px;
		&.headerSortUp {
			background-image: url('../images/sort-asc.png');
			background-repeat: no-repeat;
		}
		&.headerSortDown {
			background-image: url('../images/sort-desc.png');
			background-repeat: no-repeat;
		}
	}
}
