table.crud {
	td, th {
		// border: solid 1px red;
	}
}

form.crud-action {
	display: inline;
}

td.crud-number {
	text-align: right;
}

td.crud-error {
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	color: white;
	font-size: 80%;
	background-color: red;
}