/* Colors */

/* Commons */

/* General: tags */

body {
	font-family: sans-serif;
	background-color: white;
}

/* General: classes */

.info {
	color: gray;
	font-style: italic;
}

.action {
	cursor: pointer;
}

.action-hidden {
	display: none;
}

/* Macros */

/* Layout */
