/* Colors */

@app-title-color-bg: lightgrey;
@app-title-color-fg: white;
@app-title-nav-color-fg: @app-title-color-fg;

@app-menu-color-bg: lightgrey;
@app-menu-color-fg: blue;

@std-nav-box-color-bg: grey;
@std-nav-box-color-fg: white;

/* Debug */

div, section {
	// border: dotted 1px red;
}

/* Commons */

.rounded (@radius: 10px) {
	border-radius: @radius;
	padding: 5px @radius 5px @radius;
}

/* General: tags */

body {
	font-family: sans-serif;
	background-color: white;
}

/* General: classes */

.info {
	color: gray;
	font-style: italic;
}

.action {
	cursor: pointer;
}

.action-hidden {
	display: none;
}

.error {
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	color: white;
	font-size: 80%;
	background-color: red;
}

.invalid {
	background-color: #FFAAAA;
	background-image: url('../images/error.png');
	background-repeat: no-repeat;
	background-position: right;
}

/* Macros */

/* Layout */

section.app-title {
	.rounded;
	background-color: @app-title-color-bg;
	color: @app-title-color-fg;
	span.app-title {
		font-size: 200%;
		font-weight: bold;
	}
	div.app-meta {
		display: inline;
		position: fixed;
		top: 20px;
		right: 15px;
		.nav-item {
			color: @app-title-nav-color-fg;
			margin-right: 10px;
		}
		a {
			.nav-item;
			text-decoration: none;
		}
		.language {
			.nav-item;
			&.selected {
				font-weight: bold;
				color: gray;
			}
			&.unselected {
				.action;
			}
		}
	}
}

article.page-content {
	> h1 {
		font-size: 150%;
	}
}

a.app-menu {
	.rounded(5px);
	text-decoration: none;
	background-color: @app-menu-color-bg;
	color: @app-menu-color-fg;
}

article.std-page nav {
	margin-top: 10px;
	a {
		text-decoration: none;
		color: @std-nav-box-color-fg;
		background-color: @std-nav-box-color-bg;
		border-radius: 5px;
		padding: 2px 5px 2px 5px;
	}
}